In [1]:
# Bring our packages in 
import pandas as pd
from scipy import stats
import statsmodels.formula.api as smf

%matplotlib inline

In [4]:
# Connect to our data

myRegressionData = pd.read_csv('regression-py.csv')

In [5]:
# View a snapshot of our data 
myRegressionData.head()

,date,geo,billboard,print,broadcast,sales,visits,volume,increase
0,2/13/17,Kentucky,6,5,1,137452,3974,4,-3
1,2/12/17,NI,8,6,1,147376,3732,8,7
2,3/7/17,Virginia,1,1,2,148252,3127,5,2
3,3/14/17,SIC,9,5,3,151842,3091,3,7
4,2/5/17,DE,6,3,3,155207,4791,5,8

In [4]:
# Plot the data

In [4]:
# Calculate r-squared
slope, intercept, r_value, p_value, std_err = stats.linregress(myRegressionData.broadcast,myRegressionData.sales)

In [5]:
# Print the r-squared value

In [6]:
# Model OLS to generate coefficients

In [7]:
# Output our coefficient